/* Estilos generales de la página */
body {
    background: #f5f7fb;
    font-family: "Segoe UI";
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenedor principal */
.box {
    width: 430px;
    background: white;
    padding: 35px;
    border-radius: 22px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
    text-align: center;
}

/* Título */
h2 {
    color: #08307b;
}

/* Campo de contraseña */
input {
    width: 100%;
    padding: 14px;
    margin-top: 12px;
    border-radius: 12px;
    border: 1px solid #ccd2dc;
    outline: none;
}

/* Botón */
button {
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    background: #08307b;
    color: white;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}
